.header-avatar {
	max-width: 64px;
	max-height: 64px;

}

.header-title {
	float: right;
	/*position: relative;*/
  	display: inline-block;

}

/*Udacity style guide recommends avoiding conjunction of
 type selectors with id/class as much as possible for 
 efficiency reason. Let's declare a class for each node.*/

h2{
	color: #7d97ad;
}

header{	
	margin-top: 3em;
	padding-bottom: 1em;
	border-bottom: solid;
	border-color: #7d97ad;
}

@media screen and (max-width: 400px){

	.header-avatar {
		display: none;
	}

	.header-title {
		float: none;
	}
}


.showcase {
	margin-top: 10px;
	margin-bottom: 20px;

}
