header img{
	max-width: 64px;
	max-height: 64px;

}

header div{
	float: right;
	/*position: relative;*/
  	display: inline-block;

}

h2{

	color: #7d97ad;
}

header{	
	margin-top: 3em;
	padding-bottom: 1em;
	border-bottom: solid;
	border-color: #7d97ad;
}

@media screen and (max-width: 400px){

	header img{
		display: none;
	}

	header div{
		float: none;
	}
}


.showcase {
	margin-top: 10px;
	margin-bottom: 20px;

	

}
